* {
    box-sizing: border-box;    
}
    body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding: 0;
}

a {
    text-decoration: none;
    color: aliceblue;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

img{
    width: 100%;
    height: auto;
}

.header {
    display: flex;
    background-color: grey;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 48px;
    color: aliceblue;
}

.image {
    display: flex;
    flex: 1 1 auto;
    background-image: url(./img/cherryblossom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    display: flex;
}