body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding: 0;
}

a {
    text-decoration: none;
    color: aliceblue;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.header {
    display: flex;
    background-color: grey;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 48px;
    color: aliceblue;
}